/* This is a practice CSS document */

@import url(http://fonts.googleapis.com/css?family=Montserrat+Alternates);


strong {
	color: red;
}

h1 {
	display: inline;
	position: relative;
	font: 70px Helvetica, Sans-Serif;
	letter-spacing: -5px;
	color: rgba(0,0,255,0.5);
	text-align: left;
}

h1:after{
	white-space: nowrap;
	content: "CSS Practice";
	position: absolute; left: 4px; top: 3px;
	color: rgba(255,0,0,0.5);
}

h2, h3 {
	color: green;
	margin: 10px;
}

.font {
	background-color: #EDEDED;
	font-family: 'Montserrat Alternates', sans-serif;
	margin: 10px;
	font-size: 2em;
}

/* This shows how you can use classes with CSS */

.paragraph {
	margin: 5px;
	font-family: courier;
	line-height: 1.5;
}

/* This shows how you can use ID with CSS */

#quote {
	margin-left: 110px;
	font-size: 150%
}

/* This shows how you can join 'selectors' for more specific rules.

For example, in this instance, the div#quote is matching all id's with #quote, but 
only when it is a div. */

div#quote {
	color: blue;
}

/* This shows how you can use shorthand techniques to combine several related CSS properties 
to get the same result.

For example, these two div classes will look the same.

i.e. Keep It Simple Stupid */

.textbox1 {
	border: 2px solid black;
	margin: 1em 1.5em 2em 2.5em;
}

.textbox2 {
	border-width: 2px;
	border-style: solid;
	border-color: black;
	margin-top: 1em;
	margin-right: 1.5em;
	margin-bottom: 2em;
	margin-left: 2.5em;
}

/* This shows the difference between id and class attributes, as well as shows which of the 
two attributes will get priority. Answer = the more specific selector gets priority. */

.key {
	color: green;
	text-align: right;
}

#principal {
	font-weight: bolder;
	color: red;
	text-align: center;
}

#principal:hover {
	font-weight: lighter;
}

#data-table-1 td:first-child {
	font-weight: bolder;
}
#data-table-1 td:first-child + td {
	font-family: monospace;
}
#data-table-1 td:first-child + td + td {
	font-family: helvetica;
}


.carrot {
	color: orange;
}

.spinach {
	color: green;
}

#first {
	font-style: italic;
}

a.homepage:link, a.homepage:visited {
	padding: 1px 10px 1px 10px;
	color: #fff;
	background: #666;
	border-radius: 3px;
	border: 1px outset rgba(50,50,50,.5);
	font-family: georgia, serif;
	font-size: 16px;
	font-style: italic;
	text-decoration: none;
}

a.homepage:hover, a.homepage:focus, a.homepage:active {
	background-color: #333;
}

div.menu-bar ul ul {
	display: none;
}

div.menu-bar li:hover > ul {
	display: block;
}

/* This is an example of a universal selector. This would show a black border around every element 
on the page. It is commented out just to show as an example.

* {
	border: 1px solid #000000;
}

*/

/* Attribute selectors allow you to select elements based on the attributes they contain. 
For example, you can select every <img> element with an alt attribute using the following selector. 
It is mostly used for accessibility testing (i.e. the 'alt' tag)

img[alt] {
	border: 1 px solid #000000;
}

*/

/* This creates a background image that doesn't repeat and is in a specific position. */

body {
	background-image: url('img/katy_perry.png');
	background-repeat: no-repeat;
	background-position: right top;
}